<div class="dashboard-welcome">

  <h3>This is the dashboard</h3>
  <span>Hello <%= current_user.name %>, Welcome your dashboard</span>


<div class="container">
  <h3>Invited Events:</h3>
  <% if current_user.invited_events.empty? %>
    <p>None! Why don't you make one?</p>
  <% else %>
      <% current_user.invited_events.each do |rsvp| %>
      <div class="invited-event">
      <h5><%= link_to rsvp.event.title, event_path(rsvp.event) %></h5>
        <small>Invited by <%= rsvp.event.host.name %></small>
        <p><%= rsvp.event.location.name %> // <%= rsvp.event.real_location %></p>
      </div>
      <% end %>
  <% end %>
</div>
  <div class="column">
    <p>one column can hold some stuff, maybe some recent friends</p>
  </div>
  <div class="column">
    <h3>Friends List</h3>
    <ul>
      <% @friends.each do |friend| %>
        <li><%= image_tag friend.profile.thumb.url, size: 50%><%= link_to friend.name, user_path(friend) %></li>
      <% end %>
    </ul>
  </div>
</div>
<div>
  <div class="column">
    <p>third column for something else?</p>
  </div>
  <div class="column">
    <p>fourth column, I just added this one for funsies</p>
  </div>
</div>
