<div class="dashboard-welcome">

  <div class="search_bar">
    <p>Search People </p>
    <p><%= form_tag users_path, method: 'get' do %></p>
      <%= text_field_tag :search, params[:search], placeholder: 'search for friends by name' %><br>
      <%= submit_tag "Search", class: "btn waves-effect waves-light cyan lighten-1" %><br>
    <% end %>
  </div>
<div class="row">
  <div class="user col s4">
    <br>
    <br>
    <%= image_tag @current_user.profile.url, size:"250" %>
    <h1><%= @current_user.name %></h1>
    <p>🎂 <%= @current_user.birthday.strftime("%b %-m %Y") %></p>
    <p><%= @current_user.bio %></p>
    <p><%= link_to "Edit profile", edit_user_path(@current_user) %></p>
  </div>

  <div class="col s4 invited">
    <h3>Invited Events:</h3>
    <% if current_user.invited_events.empty? %>
      <p>None! Why don't you make one?</p>
    <% else %>
        <% current_user.invited_events.each do |rsvp| %>
        <div class="invited-event">
        <h5><%= link_to rsvp.event.title, event_path(rsvp.event) %></h5>
          <small>Invited by <%= rsvp.event.host.name %></small>
          <p><%= rsvp.event.real_time %>
          <br><%= rsvp.event.location.name %> // <%= rsvp.event.real_location %></p>
        </div>
        <% end %>
    <% end %>
  </div>

  <div class="friend_requests col s4">
    <h3>Friend Requests</h3>
    <% if @friend_requests.empty? %>
      <p>None</p>
    <% end %>
    <% @friend_requests.each do |friend| %>
      <%= form_for @friendship do |f| %>
        <div class="row valign-wrapper">
          <div class="col s4 center">
            <%= image_tag friend.profile.thumb.url, size: 50, class: 'circle' %>
            <br>
            <%= link_to friend.name, user_path(friend) %>
          </div>
          <div class="col s8">
            <%= f.submit "Accept Request", class: "btn waves-effect waves-light cyan lighten-1"%>
            <%= f.hidden_field :user_id, value: friend.id %>
          </div>
        </div>
      <% end %>
    <% end %>
    <div class="friend_list">
      <h3>Friends List</h3>
        <% if @friends.empty? %>
          <p>You have no friends! Add some!</p>
        <% end %>
        <div class="row">
        <% @friends.each do |friend| %>
          <div class="col s3 center">
          <%= image_tag friend.profile.thumb.url, size: 50 %>
          <br>
          <%= link_to friend.name, user_path(friend) %>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="upcoming_events row">
  <div class="col s12">
    <h3 class="center">Upcoming Events</h3>
    <% current_user.events_going.each do |event| %>
      <h5> <%= link_to event.title, event_path(event) %> </h5>
      <p><%= event.real_time %>
      <br><%= event.location.name %> // <%= event.real_location %></p>
      <p></p>
    <% end %>
  </div>
</div>
