<div class="search_bar">
  <p>Search</p>
  <p><%= form_tag users_path, method: 'get' do %></p>
    <%= text_field_tag :search, params[:search] %><br>
    <%= submit_tag "Search", class: "btn waves-effect waves-light cyan lighten-1" %><br>
  <% end %>
</div>

<% if @users %>
  <% @users.each do | user | %>
    <div>
      <h3 class="user_search"><%= image_tag user.profile.thumb.url, size: 45 %> <%= link_to(user.name, user_path(user)) %></h3>
    </div>
  <% end %>
<% else %>
  <p>Sorry! We couldn't find what you were looking for.</p>
<% end %>
