<div class="user">
  <br>
  <br>
  <%= image_tag @user.profile.url, size:"250"%>
  <h1><%= @user.name %></h1>
  <p>🎂 <%= @user.birthday.strftime("%b %-m %Y") %></p>
  <p><%= @user.bio %></p>
  <p><%= form_for @friendship, url: friendships_path do |f| %>
    <%= f.hidden_field :user_id, value: @user.id %>
    <%= f.submit @friend_status %>
  <% end %></p>
</div>
