<div class="user">
  <h1><%= @user.name %></h1>
  <h3>🎂 <%= @user.birthday.strftime("%b %-m %Y") %></h3>
  <p><%= @user.bio %></p>
  <p><%= form_for @friendship, url: friendships_path do |f| %>
    <%= f.hidden_field :user_id, value: @user.id %>
    <%= f.submit @friend_status %>
  <% end %></p>
</div>
