<div class="row">
  <div class="user col s4">
  <br>
  <br>
  <%= image_tag @user.profile.url, size:"250"%>
  <h1><%= @user.name %></h1>
  <p>🎂 <%= @user.birthday.strftime("%b %-m %Y") %></p>
  <p><%= @user.bio %></p>
  <% unless @user.id == session[:user_id] %>
  <p><%= form_for @friendship, url: friendships_path do |f| %>
    <%= f.hidden_field :user_id, value: @user.id %>
    <%= f.submit @friend_status, class: "btn waves-effect waves-light cyan lighten-1" %>
    <% end %>
  <% end %></p>
  <div class="embedded_player">
    <% if @user.embed? %>
      <%= @user.embed.html_safe %>
    <% end %>
  </div>
</div>
  <div class="friends-list col s4">
    <h4 class="center">Friends</h4>
    <p><%= "You have no friends :(" if @user.friends.count == 0 %>

    <p class="center"><%= pluralize(@user.accepted_friends.count, "friend") %></p>

    <div class="row">
      <% @friends.each do |friend| %>
        <div class="col s3 center">
        <%= image_tag friend.profile.thumb.url, size: 50, class: 'circle' %>
        <br>
        <%= link_to friend.name, user_path(friend) %>
      </div>
      <% end %>
    </div>

  </div>
  <div class="events-list col s4">
    <h4>Upcoming Events</h4>
    <p><%= "No upcoming events" if @events == nil %></p>
    <% @events.each do |event| %>
      <h5><%=link_to event.title, event_path(event)%></h5>
      <i>Hosted by</i>: <%= event.host.name %><br>
      <i>Where:</i> <%= event.location.name %> // <%= event.real_location  %><br>
      <i>When:</i> <%= event.real_time  %><br>
    <% end %>
  </div>
</div>
