<h3>Events List</h3>

<%= form_tag("/search", method: "get") do %>
  <%= label_tag(:event, "Search for:") %>
  <%= text_field_tag(:zip) %>
  <%= submit_tag("Search", class: "btn waves-effect waves-light cyan lighten-1") %>
<% end %>



<%@events.each do |event|%>
<div class="event-data">
  <h5><%=link_to event.title, event_path(event)%></h5>
  Hosted by: <%= event.host.name %><br> 
  Where: <%= event.real_location  %><br>
  When: <%= event.real_time  %><br>
  Admittance: <%= event.is_private? %>
<% end %>

</div>
