<h1><%= @event.title %></h1>
<p>A <%= @event.is_private? %> Event Hosted by HOST</p>
<p><%= @event.real_time %></p>

<h4>Location</h4>
<p><%= @event.location.name %></p>
<p><%= @event.real_location %></p>

<h4>People Going</h4>
