
<h3 class="center"><%= @event.title %></h3>
<div class="row">
  <div class="col s7">


    <p>A <%= @event.is_private? %> Event Hosted by <%= current_user.name   %></p>
    <p><%= @event.real_time %></p>

    <h5>People Going</h5>
    <ul>
      <% @event.users.each do |user| %>
        <%= link_to user.name, user_path(user) %>
      <% end %>
      <li></li>
    </ul>

  </div>
  <div class="col s5">
    <h5>Location</h5>
    <p><%= @event.location.name %></p>
    <p><%= @event.real_location %></p>

      <iframe width="500" height="500" frameborder="0" style="border:0"
      src="https://www.google.com/maps/embed/v1/place?key=AIzaSyBKvYd7fGmH5mDIU0KDAX3GKn2cdleHotI&q=<%="#{@event.url_helper}"%>">
    </iframe>
  </div>
</div>
