
<h3 class="center"><%= @event.title %></h3>
<h6 class="center">A <%= @event.is_private? %> Event Hosted by <%= current_user.name   %></h6>
<h6 class="center"><%= @event.real_time %></h6>

<div class="row">
  <div class="col s7">

    <% if @event.invited.find {|x| x.user_id == session[:user_id]} %>
    <div class="rsvp-box">
      <h5>You're Invited!</h5>
      <%= form_tag rsvps_edit_path do %>
        <%= hidden_field_tag 'event_id', @event.id %>
        <%= submit_tag "Yes", class: "btn waves-effect waves-light cyan lighten-1" %>
        <%= submit_tag "No", class: "btn waves-effect waves-light cyan lighten-1" %>
      <% end %>
    </div>
    <% elsif @event.admittance == true && !current_user.events.include?(@event) %>
      <h5>Join This Event!</h5>
      <div class="rsvp-box">
        <%= form_tag rsvps_path do %>
        <%= hidden_field_tag 'event_id', @event.id %>
        <%= submit_tag "Yes", class: "btn waves-effect waves-light cyan lighten-1" %>
        <% end %>
      </div>
    <% end %>

    <div class="row">
        <h5>Post A Comment</h5>
        <div class="message-box col s10">
        <%= form_for current_user.messages.build do |f| %>
        <%= f.text_area :content, placeholder: 'are you bringing a llama with you?' %>
        <%= f.hidden_field :event_id, value: @event.id %>
        <%= f.submit "Post", class: "btn waves-effect waves-light cyan lighten-1" %>
        <% end %>
      </div>
    </div>

    <div class="row">
      <h5>Messages</h5>
      <div class="col s10 message-scroll">
        <% if @event.messages.empty? %>
          <p>Nobody has said anything yet!</p>
        <% end %>

        <% @event.order_by_recent.each do |message| %>
        <p> <%= link_to message.user.name, user_path(message.user) %> <i>said</i>: <%= message.content %>
        <br>
        <small>POSTED AT <%= message.format_time %></small>
        </p>

        <% end %>
      </div>
    </div>

    <br>

  <div class="row">
    <h5>People Going</h5>
      <% @event.going.each do |rsvp| %>
        <div class="name-icon col s2 center">
          <%= image_tag rsvp.user.profile.thumb.url, size: 50 %> <br>
          <%= link_to rsvp.user.name, user_path(rsvp.user) %>
        </div>
      <% end %>
  </div>

  <div class="row">
    <h5>People Invited</h5>
    <% @event.invited.each do |rsvp| %>
      <div class="name-icon col s2 center">
        <%= image_tag rsvp.user.profile.thumb.url, size: 50 %> <br>
        <%= link_to rsvp.user.name, user_path(rsvp.user) %>
      </div>
    <% end %>
  </div>

  <div class="row">
    <h5>People Not Going</h5>
    <% @event.not_going.each do |rsvp| %>
      <div class="name-icon col s2 center">
        <%= image_tag rsvp.user.profile.thumb.url, size: 50 %> <br>
        <%= link_to rsvp.user.name, user_path(rsvp.user) %>
      </div>
    <% end %>
  </div>

  </div>
  <div class="col s5">
    <h4>Location</h4>
    <h5><%= @event.location.name %></h5>
    <p><%= @event.real_location %></p>

      <iframe width="500" height="500" frameborder="0" style="border:0"
      src="https://www.google.com/maps/embed/v1/place?key=AIzaSyBKvYd7fGmH5mDIU0KDAX3GKn2cdleHotI&q=<%="#{@event.url_helper}"%>">
    </iframe>
  </div>
</div>
