
<h3 class="center"><%= @event.title %></h3>
<h6 class="center">A <%= @event.is_private? %> Event Hosted by <%= current_user.name   %></h6>
<div class="row">
  <div class="col s7">
    <% if @event.invited.find {|x| x.user_id == session[:user_id]} %>
    <div class="rsvp-box">
      <h5>You're Invited!</h5>
      <%= form_tag rsvps_path do %>
        <%= hidden_field_tag 'event_id', @event.id %>
        <%= submit_tag "Yes", class: "btn waves-effect waves-light cyan lighten-1" %>
        <%= submit_tag "No", class: "btn waves-effect waves-light cyan lighten-1" %>
      <% end %>
    </div>
    <% end %>

    <p><%= @event.real_time %></p>

    <h5>People Going</h5>
    <ul>
      <% @event.going.each do |rsvp| %>
        <%= link_to rsvp.user.name, user_path(rsvp.user) %>
        <br>
      <% end %>
      <li></li>
    </ul>

    <h5>People Invited</h5>
    <ul>
      <% @event.invited.each do |rsvp| %>
        <%= link_to rsvp.user.name, user_path(rsvp.user) %>
        <br>
      <% end %>
      <li></li>
    </ul>

    <h5>People Not Going</h5>
    <ul>
      <% @event.not_going.each do |rsvp| %>
        <%= link_to rsvp.user.name, user_path(rsvp.user) %>
        <br>
      <% end %>
      <li></li>
    </ul>

  </div>
  <div class="col s5">
    <h5>Location</h5>
    <p><%= @event.location.name %></p>
    <p><%= @event.real_location %></p>

      <iframe width="500" height="500" frameborder="0" style="border:0"
      src="https://www.google.com/maps/embed/v1/place?key=AIzaSyBKvYd7fGmH5mDIU0KDAX3GKn2cdleHotI&q=<%="#{@event.url_helper}"%>">
    </iframe>
  </div>
</div>
