<!DOCTYPE html>
<html>
  <head>
    <title>EventSPACE</title>
    <%= csrf_meta_tags %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'home', 'materialize' %>
    <link href="https://fonts.googleapis.com/css?family=Barlow:300,300i,400,400i" rel="stylesheet">
  </head>

<body>


<div class="bg">
  <% if !flash.empty? %>
    <div class="flash">
      <% flash.each do |k, v| %>
        <div><%= v %></div>
      <% end %>
    </div>
  <% end %>

  <div class="row">
    <div class="col s1">
    </div>
    <div class="col s5 login">
      <h3>Log In</h3>
      <p>Not a member? <a href="/users/new">Sign up here.</a></p>
      <%= render "sign_in" %>
    </div>
    <div class="col s1">
    </div>
    <div class="col s4 desc">
      <!-- <%# image_tag("logo", size: "300x90", class: "center") %> -->
      <p>Welcome to eventSPACE, your social media platform for connecting attendees of corporate and private events.</p>
    </div>
    <div class="col s1">
    </div>
  </div>


</body>
