<h3>Let's Find A Location!</h3>

<%= form_tag search_path do %>
  <%= label_tag 'type', "What Are You Looking For?" %>
  <%= text_field_tag 'type' %><br><br>

  <%= label_tag 'location', "Where Are You Looking?" %>
  <%= text_field_tag 'location' %><br><br>

  <%= submit_tag "Search", class: "btn waves-effect waves-light cyan lighten-1"%>

<% end %>
