<h1>Select A Location:</h1>

<%= form_tag locations_path %>
<% @array.each do |location| %>
  <div>
    <h4><%= location.name %></h4>
    <p><%= location.real_location %></p>
    <p><%= location.phone %></p>
    <%= submit_tag "Select #{location.name}"%>
  </div>
<% end %>
