<!DOCTYPE html>
<html>
  <head>
    <title>EventSPACE</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Barlow:300,300i,400,400i" rel="stylesheet">
  </head>

  <body>

    <nav class="white">
      <ul id="navbar">
        <%= image_tag 'logo', size: "150x45" %>
        <% if logged_in?%>
          <li><%=  link_to "Events", events_path %><li>
          <li><%=  link_to "New Event", new_location_path %></li>
          <li id="logout" class="right"><%= link_to "Logout", "/sessions/:id", method: :post%></li>
          <li id="dashboard"><%= link_to "Dashboard", user_dashboard_path%></li>
          <% @user = current_user %>
          <li id="profile" class="right"><%= image_tag @user.profile.thumb.url, size: 50%></li>
        <% else %>
          <li><%= link_to "Sign In", root_path%></li>
        <% end %>
      </ul>
    </nav>
    <% if !flash.empty? %>
      <div class="flash">
        <% flash.each do |k, v| %>
          <div><%= v %></div>
        <% end %>
      </div>
    <% end %>


      <div class="container">
        <%= yield %>
      </div>

  </body>
</html>
