<!DOCTYPE html>
<html>
  <head>
    <title>EventSPACE</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
      <ul id="navbar">
        <% if logged_in?%>
          <li><%=  link_to "Home", root_path %><li>
          <li><%=  link_to "Events", events_path %><li>
          <li><%=  link_to "New Event", new_location_path %></li>
          <li id="dashboard"><%= link_to "Dashboard", user_dashboard_path%></li>
          <li><%= link_to "Logout", "/sessions/:id", method: :post%></li>
        <% else %>
          <li><%= link_to "Sign In", root_path%></li>
        <% end %>
      </ul>
    </nav>
    <div>
      <% flash.each do |k, v| %>
        <div><%= v %></div>
      <% end %>
    </div>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
